<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TODO scroll list</title>
    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div id="book-form">
        <form>
            <h2>Добавление в список дел</h2>
            <label>Что нужно сделать:</label>
            <input type="text" name="text" value="">
            <hr><br/>
            <button id="save-book">Сохранить</button>
        </form>
    </div>
    <h1>Список дел (<span th:text="${eventsCount}">0</span>)</h1>
    <button id="show-add-book-form">Добавить событие</button>
    <br><br>
    <div id="book-list">
        <div th:each="event : ${events}">
            <a href="#" class="book-link" th:attr="data-id=${event.id}" th:text="${event.text}"></a>
        </div>
    </div>

</body>
</html>